@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/arrow-left.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg,#43AFFC, #0ba6e4, #df07cd);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Interface {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: white;
  border-radius: 15px;
  width: 400px;
  height: 250px;
}

h1 {
  font-size: 40px;
  text-align: center;
  color: cornflowerblue;
  width: 100%;
  border-bottom: 2px solid grey;
}

h2 {
  align-self: center;
  justify-self: center;
  font-size: 40px;
  text-align: center;
  color: cornflowerblue;
  width: 100%;
}

#info {
  font-size: 25px;
  font-weight: 600;
  align-self: left;
}

.Resultado {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 150%;
  background: rgb(255, 255, 255);
  border-radius: 15px;
  width: 400px;
  height: 250px;
}

.graus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  border-top: 2px solid grey;
}

#temp {
  font-size: 30px;
  font-weight: 600;
}

#cond {
  font-size: 25px;
  font-weight: 600;
}

.gg-arrow-left {
  color: cornflowerblue;
  align-self: center;
  justify-self: left;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

input {
  text-align: center;
  border-radius: 10px;
  width: 80%;
  height: 40px;
  font-size: 20px;
}

button {
  border: none;
  color: white;
  background-color: cornflowerblue;
  border-radius: 10px;
  width: 80%;

    height: 40px;
    font-size: 20px;
}

img{
    width: 90px;
}

/* Creditos*/

.Credito {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    bottom: 0;
}

#Watermark {
    height: 5%;
    width: 50%;
    color: white;
    font-size: 15px;
}

#Watermark:first-of-type {
  text-align: left;
  padding-left: 10px;
}

#Watermark:last-of-type {
  text-align: right;
  padding-right: 10px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

/*Mensagem de erro*/
#erro{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(223, 60, 60, 0.61);
    height: 50px;
    width: 80%;
    border: 2px solid red;
    border-radius: 10px;
    font-size: 20px;
}

@media (max-width: 400px) {
  .Interface,
  .Resultado {
    margin: 1rem;
    width: 100%;
  }
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
  }
}

